.container {
    margin: 2rem 1rem;
  }

form {
    max-width: 30rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
  }

form:hover {
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}

form h1 {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
    font-size: 24px;
    text-align: center;
  }

  input, label {
      display: block;
  }

  input, .properties, textarea {
      width: 98%;
      padding: 5px 0px 5px 10px;
  }

img {
    max-height: 45vh;
    max-width: 100%;
    width: auto;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-family: 'roboto', sans-serif;
  border: none;
  margin: 5px;
}

.btn-text {
  display: flex;
}

/* loader in the button */
.loader {
  border: 2px solid #4a4a4a;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border-top-color: #f0f0f0;
  border-left-color: #f0f0f0;
  margin: auto;
  animation: spin .3s linear infinite;
}

button:hover {
  cursor: pointer;
  border: none;
}

#confirm-btn:hover {
  background-color: #f7ecab;
}

#cancel-btn:hover {
  background-color: #ffbfbf;
}

@media screen and (max-width: 600px) {
  form {
    width: 100%;
    padding: 2px 0px
  }

  .container {
    margin: 1rem .5rem;
  }
  h1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}